.st-edit{
  code, kbd, pre, samp{
      font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  }
}
.pdlr15{
  padding-left: 15px;
  padding-right: 15px;
}
.pdt15{
  padding-top: 15px;
}
.pdb15{
  padding-bottom: 15px;
}
*{
  box-sizing: border-box;
}
// 导航
.mu-appbar {
  height: 56px;
  padding: 0 8px;
  width: 100%;
  z-index: 100;
}
.st-fixed{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 88;
}
.login-regist{
  a{
    &:hover{
      text-decoration: underline;
    }
  }
}
.st-big-title,
.st-title{
  text-transform: uppercase;
}
.st-title-cont{

  height: 120px;
  text-align: center;
  // color: rgba(0,0,0,0.54);
  background: url('../static/img/light-wool.png');
  .st-big-title{
    line-height: 60px;
    font-size: 56px;
    margin-bottom: .3em;
    // color: #0097A7;
  }
  .st-big-disc{
    margin-top: 0;
    // color: #757575;
  }
}
.appbar-search-field{
  color: #FFF;
  margin-bottom: 0;
  &.focus-state {
    color: #FFF;
  }
  .mu-text-field-hint {
    color: fade-out(#FFF, .54);
  }
  .mu-text-field-input {
    color: #FFF;
  }
  .mu-text-field-focus-line {
    background-color: #FFF;
  }
}
.nav-user{
  .user-info{
    position: relative;
    cursor: pointer;
    .user-pic{
      width: 47px;
      height: 47px;
      border-radius: 50%;
      vertical-align: middle;
    }
  }
}
.user-menu{
  // width: 300px;
  .user-name{
    text-align: center;
    line-height: 30px;
    margin-bottom: 0;
    color: #757575;
  }
  .mu-menu-destop{
    padding-top: 0;
    padding-bottom: 10px;
  }
  .user-icon{
    color: #0097A7
  }
  .user-text{
    padding-left: 36px;
  }
}
.mu-menu-item.have-left-icon{
  padding-left: 48px;
}
// 新增修改文章
.st-dialog{
  &.mu-dialog{
    @media screen and (max-width: 768px) {
      width: 96%;
    }
  }
  .mu-dialog-title,
  .mu-dialog-body{
    @media screen and (max-width: 768px) {
      padding-left: 12px;
      padding-right: 12px;
      font-size: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .mu-dialog-actions{
      @media screen and (max-width: 768px) {
        min-height: 36px;
        padding: 3px;
      }
  }
  .mu-text-field{
    &.has-icon{
      @media screen and (max-width: 768px) {
        padding-left: 0;
      }
      .mu-text-field-icon{
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      .mu-text-field-content{
        @media screen and (max-width: 768px) {
          padding-bottom: 0;
        }
      }
      .mu-text-field-line,
      .mu-text-field-focus-line{
        @media screen and (max-width: 768px) {
          left: 0;
        }
      }
    }
    
  }
}
// 关于页面
.about-page{
  max-width: 620px;
  margin: 12px auto;
}