.st-edit{
  code, kbd, pre, samp{
      font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  }
}
.pdlr15{
  padding-left: 15px;
  padding-right: 15px;
}
.pdt15{
  padding-top: 15px;
}
.pdb15{
  padding-bottom: 15px;
}
*{
  box-sizing: border-box;
}