.st-loader{
  margin: 16px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &.loader{
    height: 300px;
    .line-scale{
      &>div{
        background: #ff4081;
      }
    }
    .pacman {
      &> div:first-of-type {
        border-top: 25px solid #ff4081;
        border-left: 25px solid #ff4081;
        border-bottom: 25px solid #ff4081;
      }
      & > div:nth-child(2) {
        border-top: 25px solid #ff4081;
        border-left: 25px solid #ff4081;
        border-bottom: 25px solid #ff4081;
      }
      & > div:nth-child(3),
      & > div:nth-child(4), 
      & > div:nth-child(5), 
      & > div:nth-child(6) {
        background-color: #ff4081;
      }
    }
  }
}
.st-loader-wrapper{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &.abs{
    position: absolute;
  }
  &.fix{
    position: fixed;
  }
  .st-cover,
  .loader{
    position: absolute;
  }
  &,
  .st-cover,
  .loader{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
  }
  .st-cover{
    background: #111;
    opacity: .3;
  }
  .loader{
    height: 100%;
    z-index: 8;
  }
}