// 主题背景色
$themeBgColor: #fff;
// 点缀色
$adornColor: #ff4081;
// 主题前景色
// $themColor: #7e57c2;
$themColor: rgba(0, 0, 0, 0.87);
$themBtnColor: #fff;
// 导航
.main{
  // 导航条背景
  .mu-appbar {
      background-color: $themeBgColor;
  }
  // 导航条上的文字标题
  .st-title,
  // 导航条上的切换图标
  .st-title-icon .mu-icon,
  // 导航条上登录注册
  .login-regist a,
  // 左侧收缩栏标题
  .st-title-cont .st-big-title,
  .st-title-cont .st-big-disc{
    color: $themColor;
  }

  // button
  .st-btn{
    background: $themColor;
    color: $themBtnColor;
  }
  // 文章列表
  .st-article-item{
    .article-item-avatar{
      background: lighten($themColor, 16%);
      color: $themBtnColor;
    }
  }
  .mu-step-label.active .mu-step-label-circle,
  .mu-step-label.completed .mu-step-label-circle {
    background-color: $themColor;
  }
  // muse 
  .mu-switch input[type="checkbox"]:checked + .mu-switch-wrapper .mu-switch-track {
    background-color: $adornColor;
  }
  .mu-switch input[type="checkbox"]:checked + .mu-switch-wrapper .mu-switch-thumb {
    background-color: lighten($adornColor, 10%);
    color: lighten($adornColor, 10%);
  }
}
// 右侧用户信息图标
.user-menu .user-icon {
  color: $adornColor;
}
.nprogress-busy{
  #nprogress{
    .bar{
      background: $adornColor;
    }
    .spinner{
      display: none;
      .spinner-icon{
        border-top-color: $adornColor;
        border-left-color: $adornColor;
      }
    }
  }
}
// 备案信息
.st-copyright{
  color: #aaa;
  text-align: center;
}